header {

    background-image: linear-gradient(#66b3ff, #0066cc);
}
header h1{
    font:black;
    font-size: 50px;
}

body {
    background-color: #e6f2ff;
}
#search-history-section ul {
   list-style-type: none;
}

/*.weather-display-section {
    display:none;
}

/*#history-forecast-section {
    display:none;
}
